    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        width: 100%;
        height: 100%;
        background-color: rgb(221, 219, 219);
        color: white;
    }
    
    #main2 {
        width: 100%;
        height: 10%;
    }
    
    #proheader {
        position: fixed;
        width: 99vw;
    }
    
    #fakeheader {
        width: 99vw;
        position: fixed;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        background-color: rgb(102, 236, 12);
    }
    
    nav ul {
        display: flex;
        justify-content: center;
    }
    
    nav ul li {
        list-style: none;
        margin: 0 23px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: white;
        position: relative;
        padding-bottom: 5px;
    }
    
    #h {
        color: black;
    }
    
    #c {
        color: black;
    }
    
    nav ul li a:hover {
        color: purple;
    }
    
    nav ul li a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 2px;
        background-color: white;
        transition: width 0.3s ease;
    }
    
    main hr {
        border: 0;
        background: #9c97f1;
        height: 1.2px;
        margin: 60px 84px;
    }
    
    .left {
        font-size: 1.8rem;
        color: rgb(253, 21, 4);
    }
    
    .firstSection {
        display: flex;
        justify-content: space-around;
        margin: 20px 0;
        align-items: center;
        color: black;
    }
    
    .firstSection>div {
        width: 30%;
    }
    
    .leftSection {
        font-size: 3rem;
        margin: 70px 0;
    }
    
    .leftSection .buttons {
        padding: 30px 0;
    }
    
    .leftSection .btn {
        padding: 12px;
        background-color: rgb(247, 15, 54);
        color: black;
        border: 2px solid white;
        border-radius: 6px;
        font-size: 20px;
        cursor: pointer;
    }
    
    .rightSection img {
        width: 80%;
        margin: 50px;
    }
    
    .purple {
        color: rgb(243, 13, 5);
    }
    
    #element {
        color: rgb(243, 13, 5);
    }
    
    .text-red {
        color: rgb(230, 80, 80);
        ;
    }
    
    .secondSection {
        max-width: 85vw;
        margin: auto;
        height: 50vh;
        color: black;
        background-color: rgb(221, 219, 219);
    }
    
    .secondSection h1 {
        font-size: 1.9rem;
    }
    
    .secondSection .box {
        background: rgb(221, 219, 219);
        width: 76vw;
        height: 2px;
        margin: 56px 0;
        display: flex;
    }
    
    .secondSection .vertical {
        height: 93px;
        width: 1px;
        background-color: rgb(221, 219, 219);
        margin: 0 110px;
    }
    
    .image-top {
        width: 45px;
        object-fit: cover;
        position: relative;
        top: -32px;
        left: -9px;
    }
    
    .vertical-title {
        position: relative;
        top: 75px;
        width: 150px;
    }
    
    .vertical-desc {
        position: relative;
        top: 86px;
        color: rgb(8, 8, 8);
        width: 150px;
        font-size: 9px;
    }
    
    footer {
        background-color: rgb(61, 61, 61);
        justify-content: space-between;
    }
    
    .footer {
        display: flex;
        justify-content: space-between;
    }
    
    .footer ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
    }
    
    .footer>div {
        width: 223px;
    }
    
    footer .footer-rights {
        text-align: center;
        color: rgb(8, 8, 8);
        padding: 12px 0;
    }
    
    #pro {
        color: black;
        text-align: center;
        font-size: 1.8rem;
    }
    
    #flip {
        color: black;
        font-size: 22px;
    }
    
    .flipimg {
        height: 70vh;
        width: 60vw;
        margin-top: 30px;
    }
    
    .flipvideo {
        height: 70vh;
        width: 61vw;
        margin-top: 30px;
    }
    
    .pops {
        color: black;
        font-size: 22px;
        margin-top: 20px;
    }
    
    #prodiv {
        color: black;
        text-align: center;
    }
    
    #p {
        color: black;
    }
    
    #prographic {
        display: grid;
        justify-content: center;
    }
    
    .gpro {
        width: 80vw;
        height: 50vh;
        justify-content: center;
        margin-top: 40px;
    }
    
    #prographic2 {
        display: flex;
        gap: 138px;
        justify-content: center;
    }
    
    #gpro2 {
        display: flex;
        width: 40vw;
        height: 60vh;
        margin-top: 76px;
    }
    
    #gpro3 {
        display: flex;
        width: 30vw;
        height: 70vh;
        margin-top: 76px;
    }
    
    .an {
        color: rgb(138, 15, 121);
    }
    
    @media screen and (max-width: 1200px) {
        .firstSection {
            flex-direction: column-reverse;
            text-align: center;
        }
        .firstSection>div {
            width: 90%;
        }
        .leftSection {
            font-size: 1.8rem;
            margin: 20px 0;
        }
        .rightSection img {
            width: 100%;
            margin: 20px 0;
        }
        nav {
            flex-direction: column;
            height: auto;
            padding: 10px;
        }
        nav ul {
            margin-top: 10px;
            flex-wrap: wrap;
            justify-content: center;
        }
        nav ul li {
            margin: 5px 10px;
        }
        .secondSection {
            height: auto;
            padding-bottom: 50px;
        }
        .secondSection .box {
            flex-direction: column;
            height: auto;
            width: 100%;
            margin: 20px 0;
        }
        .secondSection .vertical {
            margin: 40px auto;
            height: 120px;
        }
        #prographic2 {
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }
        #gpro2 {
            width: 80vw;
            height: auto;
        }
        #gpro3 {
            width: 80vw;
            height: auto;
        }
        .gpro {
            width: 90vw;
            height: auto;
        }
        .flipimg,
        .flipvideo {
            width: 40vw;
            height: auto;
        }
        #proheader,
        #fakeheader {
            width: 100vw;
            position: relative;
        }
        #prodiv {
            font-size: 20px;
            margin-top: 30px;
            color: black;
        }
        .pops {
            color: black;
            font-size: 18px;
            margin-top: 20px;
        }
        #p {
            font-size: 20px;
        }
    }